@use 'src/styles/vars';

.timer-container {
  background-color:rgb(247, 241, 241);
  border-radius: 50%;
  position:absolute;
  top:1%;
  right:1%;
  padding:auto;
  z-index: 0;
  border: 3px solid black;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.8%;
  height: 8%;

.timer-display {
  font-weight: bold;
  text-align: center;
  color:rgb(10, 2, 2);
  text-align: center;
  margin:auto;
  font-size: 1vw;
}

}
